
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;}

#hero {
    background: url('../images/pexels-eyes79-8427207.jpg') ;
    height: 100vh;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
  }
  

 
#hero h1 {
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    padding-top: 150px;
  }

  #hero p {
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
  }
  
  
  